*{
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    flex-basis: calc(100% / 4);
    width: auto;
}

input{
    height: 15%;
}

.size-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    background-color: cadetblue;
    padding: 10px;
    padding-top: 30px;
}

.buttons-container{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
